.bb-1 { border-bottom: 1px solid #ccc; }

.general-info{
    font-size: 10px;
}

.info {
    font-size: 10px;
    color: #888;
}

.partits {
    gap: 5px;
    .partit {
        border: 1px solid #ccc;
        width: calc((25%) - 10px);
        width: 200px;
        border-radius: 4px;
        background-color: whitesmoke;
    }
}

.pactometre-container {
    gap: 5px;
    .pactometre {
        border-radius: 4px;
        border: 1px dotted #ccc;
        height: calc(21*34px)+2;
    }
}

.persona {
    color: #666;
    &:hover {
        font-style: normal;
        color: #333;
        cursor: default;
    }
    &.regidor {
        font-weight: 500;
    }
    &.no-regidor {
        text-decoration: line-through;
        opacity: .6;
    }
}

input {
    &.form-control {
        width: 80px;
        text-align: end;
        font-size: 12px;
    }
}

.percent {
    color: #888;
    width:55px;
}
.regidors {
    gap: 4px;
    i {
        font-size: 14px;
    }
}

fieldset {
    legend {
        font-size: 14px;
        color: #888;
    }

    .marcador {
        position: relative;
        border-top: 3px dotted #ccc;
        top: -341px;
        height:1px;
        overflow: visible;
        color: #ccc;
    }
}

.partit-pactometre {
    border-radius: 4px;
    border: 1px solid #ccc;
}

ul.pactometre-regidors {
    list-style-type: none;
    cursor: pointer;
}

.pactometre-regidors {
    li {
        div {
            text-overflow: ellipsis;
            overflow: hidden; 
            max-width: 100%;
            white-space: nowrap;
        }
    }
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: 
    .partit {
        border: 1px solid #ccc;
        width: calc(100%) !important;
        border-radius: 4px;
        background-color: whitesmoke;
    }

    .pactometre {
        width: calc(100%) !important;
    }

    */
    .pactometre-regidors {
        li {
            div {
                text-overflow: ellipsis;
                overflow: hidden; 
                max-width: 100%;
                white-space: nowrap;
            }
        }
    }
}