.bb-1 { border-bottom: 1px solid #ccc; }

.partits {
    gap: 5px;
    .partit {
        border: 1px solid #ccc;
        width: calc((25%) - 10px);
        min-width: 200px;
        border-radius: 4px;
        background-color: whitesmoke;
    }
}

.persona {
    color: #666;
    &:hover {
        font-style: normal;
        color: #333;
        cursor: default;
    }
    &.regidor {
        font-weight: 500;
    }
    &.no-regidor {
        text-decoration: line-through;
        opacity: .6;
    }
}

input {
    &.form-control {
        width: 100px;
        text-align: end;
        font-size: 12px;
    }
}

.percent {
    color: #888;
    width:55px;
}
.regidors {
    gap: 4px;
    i {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .partit {
        border: 1px solid #ccc;
        width: calc(100%) !important;
        border-radius: 4px;
        background-color: whitesmoke;
    }
}