<ng-container *ngIf="partits">
  <div class="d-flex w-100">
    
    <div class="d-flex flex-column p-2 w-100">
      <div class="d-flex justify-content-start align-items-center mb-1 w-100">
        <span>Regidors: {{regidors}}</span>
        <span class="mx-2">/</span>
        <span>Vots: {{getTotalVots()}}</span>
      </div>
      <h5 class="mb-1 py-1 bb-1">Partits/coalicions ({{partits.length}})</h5>
      <ng-container *ngFor="let partit of partits; let idx = index">
        <ng-container [ngTemplateOutlet]="partitTemplate" [ngTemplateOutletContext]="{partit: partit, index: idx}"></ng-container>
      </ng-container>
    </div>

  </div>
</ng-container>

<ng-template let-index="index" let-partit="partit" #partitTemplate>

  <div class="d-flex flex-column partit w-100">
    <div class="d-flex justify-content-between align-items-top pt-1 pb-2 w-100">

      <div class="d-flex flex-wrap justify-content-start align-items-center mt-1">
        <i *ngIf="partit.color?.length>0" class="fas fa-circle me-2 mt-1" style="color:{{partit.color}}"></i>
        <i *ngIf="!partit.color || partit.color.length===0" class="far fa-circle me-2 mt-1"></i>
        <span class="cursor-pointer" (click)="toggleExpanded(index)">{{partit.nom}}</span>
        <ng-container [ngTemplateOutlet]="regidorsTemplate" [ngTemplateOutletContext]="{partit: partit}"></ng-container>
      </div>
      
      <div class="d-flex justify-content-start align-items-center ms-2">
        <input type="number" class="form-control px-2 py-1 ms-3 mt-1" style="height: fit-content;" [(ngModel)]="partit.vots" value="{{partit.vots}}" (ngModelChange)="updatePartits()">
        <div class="percent ms-2 text-end" *ngIf="getTotalVots()>0">{{((partit.vots*100)/getTotalVots()) | number : '1.2-2'}}%</div>
      </div>

    </div>
  
    <div class="d-flex flex-column mb-2 w-100" *ngIf="expanded.includes(index)">
      <ng-container *ngFor="let persona of partit.llista; let num = index;">
        <div class="d-flex justify-content-start align-items-center" style="margin-left: 5px;border-left:1px solid {{partit.color}}">
          <div style="width:20px;color:{{partit.color}}" class="text-end mx-2">{{num+1}}</div>
          <div class="persona" [title]="persona" [ngClass]="{regidor: (num+1)<=getNumRegidors(partit), 'no-regidor': (getTotalVots()>0) && ((num+1)>getNumRegidors(partit))}">{{persona}}</div>
        </div>
      </ng-container>
    </div>
  </div>
  
</ng-template>

<ng-template let-partit="partit" #regidorsTemplate>
  <div class="regidors d-flex flex-wrap justify-content-start align-items-center ms-3 mt-1 px-2">
    <i class="fas fa-user" style="color:{{partit.color}}" *ngFor="let regidor of getNumRegidorsEnumeration(getNumRegidors(partit))"></i>
  </div>
</ng-template>
